.contenitore
{
    text-align: center;  
    margin-left: 25%;
    margin-right: 25%;
}

h2
{
    font-weight: bolder;
}


form 
{   
    padding: 2%;
    border: solid;
    border-width: 2px 2px;
    border-radius: 10px;
}

input
{
    margin: 30%;
    padding: 5px;
}

table
{
    width: 100%;   
    padding: 2%;
    border: solid royalblue;
    border-width: 2px 2px;
}
